.page{
  display:flex;
  justify-content: center;
  margin-top:0;
  /* background: rgb(57,17,206); */
  /* background: linear-gradient(90deg, rgba(57,17,206,1) 2%, rgba(29,124,253,1) 46%, rgba(52,196,202,1) 84%); */
}

.form-container{
  width:60%;
}